body
  font-family 'Varela Round', sans-serif
  font-size 18px
  background url('/dist/images/master.png') center top
  background url('/dist/images/background.png') center top

.container
  text-align center

.menu-container
  margin-top 14px
  background rgba(255, 255, 255, 0.5)
  padding 0

  .menu

    // overwrite BS menu bg
    .nav>li>a:focus, .nav>li>a:hover {
      background-color: inherit;
    }

    .nav>li>a
      color #eb374b
      padding-top 14px

    .nav>li>a:hover
      color #eb374b
      text-decoration underline

    .nav>li>a.try-now
      border-radius 15px
      background #eb374b
      padding 3px
      color #fff

    .nav>li>a.try-now:hover
      text-decoration underline
      color #fff

.logo
  margin-top 44px
  text-align center

  h1
    color #fff
    font-size 43px
    line-height 58px
    margin 0 auto

  .twitter-feeds
    margin-top 13px
    margin-bottom 22px
    border 1px solid red
    height 294px

.bottom-container
  background #eb374b
  padding 10px

  a
    display block
    margin-top 4px
    color #fff

  .twitterbird
    margin 3px 0
    width 29px
    height 25px
    display block
    background url('/dist/images/tw.png') center center no-repeat

  .twitterbird:hover
    background-image url('/dist/images/tw_hover.png')

#who
  text-align center


  h2
    color #eb374b
    font-size 42px
    line-height 58px
    margin 0 auto

  h3
    text-align left
    color #eb374b
    font-size 28px
  p
    text-align left
    font-size 24px
    line-height 35px

  a
    color #808080
    text-decoration underline
    font-size 16px

