doctype html
html(lang="en")
  head
    link(rel='stylesheet',href='lib.css')
    link(rel='stylesheet',href='dist/styles/app.min.css')
    title= pageTitle
    script(type='text/javascript', src='lib.js')
    script(type='text/javascript', src='dist/scripts/main.min.js')
  body
    .container
      .menu
        ul.nav.nav-justified
          li.active
            a(href='#') Who
          li
            a(href='#') What
          li
            a(href='#') Where
          li
            a(href='#') When
          li
            a(href='#') Why
          li
            a(href='#') How
          li
            a(href='#') Try Now!
